/* we will add minimu height to the element-container class */

.element-container {
    /* small round border and min height */
    /* let's also make it flex wrap so elements wrap nicely */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 5px;
    min-height: 3rem;
}

/* let's add a css for boxy class */
.boxy {
    /* we will add some padding and margin */
    padding: 10px;
    margin: 5px;
    /* we will add a border and border radius */
    border: 2px solid #ccc;
    border-radius: 5px;
    /* we will add a background color */
    background-color: #f9f9f9;
    /* we will add a box shadow */
    box-shadow: 2px 2px 5px #ccc;
    min-height: 1.5rem;
    min-width: 12rem;
    /* we will add a flex grow
    flex-grow: 1; */
}

/* let's add a cool class  it will have a cool background color */
/* .cool {
    background-color: #208d9c;
    
} */

.odd {
    background-color: #ca9999;
}

.even {
    background-color: #d1b677;
}